<div>ciao</div>

<h1 class="taxon-title"><%= accurate_title %></h1>

<br/>
	<% taxon = @product.taxons.first %>
	<% firstImage = taxon.images.first %>

	<%= taxon.children.size()  %> <br/>
	<%= taxon.name  %> <br/>
	<%= taxon.description  %> <br/>

	<%= link_to(image_tag(firstImage.attachment.url(:large)), firstImage.attachment.url(:product), :class => 'tmb-all', :id => "tmb-#{firstImage.id}") %>
	<% taxon.images.each_with_index do |image, index| %>
		<% if image!=firstImage %>
			<li class='tmb-all' id='tmb-<%= image.id %>'>
				<%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:product), :class => 'tmb-all', :id => "tmb-#{image.id}") %>
			</li>
		<% end %>
	<% end %>

	<!-- print all product in taxon with one image each -->
	<% taxon.products.each_with_index do |product, index| %>
			 <ul id="taxon-thumbnails" class="thumbnails inline" data-hook>
				<%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
			        <div class="product-image">
				          <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
	       			 </div>
			</ul>
	<% end %>

<div>ciao</div>
