	<% taxon =  @product.taxons.first %>
	<% @product.taxons.each do |tax| %>
		<% if tax.children.empty? %>
			<% taxon =  tax %>
		<% end %>
	<% end %>

<div class="row">
	<div class="columns six alpha" >
		<div id="taxon-images">
			<div id="taxon-main-image">
				<% unless taxon.images.empty? %>
					<% firstImage = taxon.images.first %>
					<%= link_to(image_tag(firstImage.attachment.url(:product)), firstImage.attachment.url(:product)) %>
				<% end %>
			</div>
			
			<div id="thumbnails" data-hook>
				<ul id="taxon-thumbnails" class="thumbnails inline" data-hook>
					<% taxon.images.each_with_index do |image, index| %>
							<li class='tmb-all' id='tmb-<%= image.id %>'>
								<%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:product), :class => 'tmb-all', :id => "tmb-#{image.id}") %>
							</li>
					<% end %>
				</ul>
		        </div>
		</div>
	</div>

	<div class="columns ten alpha" >
		<h1 class="product-title"><%= taxon.name  %></h1>
		<h6>
		<%= taxon.description  %> </h6>
	</div>
</div>